<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>DCOIN REGISTER</title>
</head>
<body>
	<div>
		<h1>Please register here!</h1>
	</div>

	<form method='POST'>{% csrf_token %}
		<div class='form-group'>
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary" value="Submit">
		</div>
	</form>
</body>
</html>